.button {
  background-color: var(--color-pink);
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-white);
  width: 370px;
  padding: 30px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-red);
}

.button:active {
  box-shadow: 0px 0px 38px -4px var(--color-pink);
  background-color: var(--color-pink);
}

@media (max-width: 1024px) {
  .button {
  width: 314px;
  padding: 30px 30px;
  font-size: 18px;
  line-height: 21px;
}
}

@media (max-width: 320px) {
  .button {
  width: 280px;
  padding: 18px 25px;
}
}