.team {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

.card {
    max-width: 270px;
}

.card-img {
    box-shadow: 1px 5px 8px 0px rgba(34, 60, 80, 0.2);
    max-width: 100%;
}

blockquote {
    max-width: 270px;
}

.card__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: var(--color-darkblue);
    text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.18);
    padding-top: 30px;
    padding-bottom: 10px;
}

.card__subtitle {
    padding: 0;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-pink);
    text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.18);
}
.card__description {
    padding-top: 17px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-greyblue);
    text-shadow: 1px 5px 4px rgba(0, 0, 0, 0.18);
}

.icons {
    display: flex;
    margin-top: 37px;
    column-gap: 6px;
}

.icons-team {
    width: 39px;
    height: 39px;
    fill: transparent;
    box-shadow: 0px 2px 4px 1px rgba(198, 203, 205, 0.27);
    stroke: #c6cbcd;
}

.icons-team:hover {
    cursor: pointer;
    opacity: 0.7;
    stroke: rgb(0, 128, 255);
}

@media (max-width: 1200px) {
    .team {
        height: 100%;
        max-width: 984px;
        margin-top: 78px;
        column-gap: 10px;
    }
    .card {
        max-width: 227px;
    }

    .card-img {
        width: 227px;
    }

    blockquote {
        max-width: 227px;
    }

    .card__title {
        font-size: 18px;
        line-height: 21px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .card__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .card__description {
        font-size: 14px;
        line-height: 16px;
    }

    .icons {
        padding-bottom: 50px;
    }

    .icons-team {
        width: 33px;
        height: 33px;
    }
}

@media (max-width: 320px) {
    .team {
        height: 100%;
        max-width: 280px;
        margin-top: 35px;
    }

    .card {
        max-width: 280px;
    }

    .card-img {
        width: 280px;
    }

    blockquote {
        max-width: 280px;
    }

    .card__title {
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .icons-team {
        width: 39px;
        height: 39px;
    }
}
